*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  linear-gradient(rgba(0,0,0,0.7),
  rgba(0,0,0,0.7)),
  url('https://images.unsplash.com/photo-1523398002811-999ca8dec234?q=80&w=1600');

  background-size:cover;
  background-position:center;

  color:white;
}

.container{
  width:420px;

  background:#111111d8;

  padding:40px;

  border-radius:20px;

  backdrop-filter:blur(10px);

  box-shadow:0 0 30px rgba(255,255,255,0.08);
}

form{
  display:flex;
  flex-direction:column;
}

h1{
  text-align:center;
  margin-bottom:20px;
  font-size:35px;
}

input{
  margin-top:20px;

  padding:16px;

  border:none;
  outline:none;

  border-radius:12px;

  background:#1f1f1f;

  color:white;

  font-size:15px;
}

input::placeholder{
  color:#999;
}

button{
  margin-top:25px;

  padding:16px;

  border:none;

  border-radius:12px;

  background:white;

  color:black;

  font-weight:bold;

  cursor:pointer;

  transition:0.3s;
}

button:hover{
  transform:scale(1.03);
}

@media(max-width:500px){

  .container{
    width:90%;
  }

}